.tags {
    font-size: 1.5em;
    border-radius: 1em;
    border-color: blue;
    border-width: 3px;
    padding: 3px 8px;
    background-color: darkblue;
    color: antiquewhite;
    margin: 5px;
}